.containerCreateServer {
  background-color: blue;
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 0.2s;
}
.containerCreateServer:hover {
  box-shadow: 0px 0px 7px -2px rgb(201, 201, 201);
}
.iconCreate {
  background-color: red;
  font-size: 30px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll; /* включаем прокрутку */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 999;
}
.modal {
  background-color: rgb(0, 0, 0, 0.9);
  box-shadow: 0px 0px 7px -3px rgb(201, 201, 201);
  border-radius: 12px;
  padding: 2rem;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  flex: 1 1 wrap;
  gap: 10px;
  z-index: 1000;
  gap: 10px;
}
.modal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal p {
  font-family: "Rubik", Courier, monospace;
  font-weight: 400;
  text-align: center;
}

.modal h2 {
  color: wheat;
  font-family: "ShantellSansBold", Courier, monospace;
  text-align: center;
  flex: 1 1 wrap;
}
.modal form label {
  font-family: "ShantellSansBold", Courier, monospace;
}
.containerRequired {
  color: #ff6f00;
  font-size: 15px;
}
.modal form input {
  border-radius: 5px;
  border: none;
  background-color: rgb(35, 35, 35);
  box-shadow: 0px 0px 2px rgb(201, 201, 201);
  padding: 12px 0px;
  font-family: "Rubik", Courier, monospace;
  font-weight: 400;
  color: rgb(226, 224, 224);
  padding-left: 10px;
  font-size: 15px;
  flex: 1 1 wrap;
  outline: none;
}
.modal form input:focus {
  box-shadow: 0 0 5px #ff6f00;
}
.containerBtnAndSpan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerBtnAndSpan button {
  padding: 10px;
  font-family: "Rubik", Courier, monospace;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: wheat;
  box-shadow: 0px 0px 2px rgb(201, 201, 201);
  font-size: 15px;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.2s ease;
}
.containerBtnAndSpan button:hover {
  box-shadow: 0px 0px 3px#ff6f00;
  color: rgb(212, 212, 211);
}
.nazad {
  font-family: "Rubik", Courier, monospace;
  color: wheat;
  transition: all 0.2s;
}
.nazad:hover {
  color: #ff6f00;
}
.error {
  color: red;
  font-family: "ShantellSans", Courier, monospace;
  font-size: 13px;
}
