.containerRestorePassword {
  background-color: rgb(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background-color: rgb(0, 0, 0, 0.9);
  box-shadow: 0px 0px 7px -4px rgb(201, 201, 201);
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo {
  background-image: url("./../../../img/logo.png");
  position: absolute;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  top: 0;

  left: 0px;
  width: 300px;
  height: 100px;
  transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.modal h2 {
  color: wheat;
  font-family: "ShantellSansBold", Courier, monospace;
  text-align: center;
}
.modal form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
  flex: 1;
  width: 90%;
}
.modal form input {
  border-radius: 5px;
  border: none;
  background-color: rgb(35, 35, 35);
  box-shadow: 0px 0px 2px rgb(201, 201, 201);
  padding: 12px 0px;
  font-family: "Rubik", Courier, monospace;
  font-weight: 400;
  color: rgb(226, 224, 224);
  padding-left: 10px;
  font-size: 15px;
}
.modal form label {
  font-family: "ShantellSansBold", Courier, monospace;
  color: rgb(226, 224, 224);
}
.modal button {
  padding: 10px;
  font-family: "Rubik", Courier, monospace;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: wheat;
  box-shadow: 0px 0px 2px rgb(201, 201, 201);
  font-size: 15px;
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.2s ease;
}
.modal button:hover {
  box-shadow: 0px 0px 3px#ff6f00;
  color: rgb(196, 196, 196);
}
.modal span {
  color: #ff6f00;
}
.lastReturn {
  color: red;
  font-family: "Rubik", Courier, monospace;
  font-weight: 500;
}
.containerList {
  font-family: "ShantellSans", Courier, monospace;
  font-size: 16px;
  list-style: none;
}
.error {
  font-family: "ShantellSans", Courier, monospace;
  font-size: 14px;
  color: red;
}
.success {
  font-family: "ShantellSans", Courier, monospace;
  font-size: 14px;
  color: green;
}
